<div class="container">
    <form>
        <div class="mb-3 col-10">
          <label for="Name team" class="form-label">Name team</label>
          <input type="text" class="form-control" id="nameTeam" placeholder="My team">
        </div>
        <div class="mb-3 col-10">
            <label for="Local titles" class="form-label">Local titles</label>
            <input type="number" class="form-control" id="local" placeholder="10">
        </div>
        <div class="mb-3 col-10">
            <label for="international titles" class="form-label">International titles</label>
            <input type="number" class="form-control" id="international" placeholder="10">
        </div>
        
        <button type="submit" class="btn btn-primary col-2 mt-2">Save</button>
    </form>
</div>

